* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

$color: #ffa49b;
$orang: #ff361c;
$bg-hero: #f2f1f2;

.head {
  font-weight: bolder;
}

@import './header';
@import 'main';